<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.section == 'home' %}{{ site.title }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="{{ site.description }}">
  <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">
  <link href="{{ '/css/reset.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <script src="{{ '/js/jquery-3.1.0.slim.min.js' | prepend: site.baseurl }}"></script>
</head>
