<div class="navbar">
  <ul>
    <li{% if page.section == 'home' %} class="active"{% endif %}><a href="/" title="Home">Home</a></li>
    <li{% if page.section == 'portfolio' %} class="active"{% endif %}><a href="/portfolio" title="Portfolio">Portfolio</a></li>
    <li{% if page.section == 'resume' %} class="active"{% endif %}><a href="/resume" title="Resumé">Resumé</a></li>
    <li{% if page.section == 'shows' %} class="active"{% endif %}><a href="/shows" title="Shows">Shows</a></li>
    <li{% if page.section == 'tv' %} class="active"{% endif %}><a href="/tv" title="TV">TV</a></li>
    <li{% if page.section == 'bookings' %} class="active"{% endif %}><a href="/bookings" title="Bookings">Bookings</a></li>
  </ul>
</div>
