<div class="social-links">
  <a href="http://www.facebook.com/hayleyeldridge.model" title="Facebook"><img alt="Facebook logo" src="/img/facebook.png" /></a>
  <a href="http://twitter.com/Hayley_Eldridge" title="Twitter"><img alt="Twitter logo" src="/img/twitter.png" /></a>
  <a href="https://uk.linkedin.com/in/hayley-eldridge" title="LinkedIn"><img alt="LinkedIn logo" src="/img/linkedin.png" /></a>
  <a href="https://www.instagram.com/hayleyeldridge777/" title="Instagram"><img alt="Instagram logo" src="/img/instagram.png" /></a>
  <a href="https://www.youtube.com/channel/UChcXuxk4OkbYIxrsrkzA2qg" title="YouTube"><img alt="YouTube logo" src="/img/youtube.png" /></a>
</div>
