.navbar {
  background: #eee;
  border-top: 4px solid $color-bg-primary;
  overflow: hidden;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    float: left;
  }

  a {
    color: #666;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }

  a:hover {
    background: #eee;
    color: $color-text-default;
    margin: 0;
    text-decoration: none;
  }

  li.active a {
    background: $color-bg-primary;
    color: $color-text-primary;
    font-weight: normal;
  }
}
