table {
  border-collapse: separate;
  border-spacing: 0.2em;
  margin: 0.8em -0.2em;
}

td {
  padding-right: 32px;
}

th {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 400;
  padding-right: 8px;
  text-align: left;
}
