$font-family-sans-serif: Roboto, Noto, sans-serif;
$font-family-serif: 'Calluna-Regular', 'Times New Roman', Times, serif;

$color-bg-default: #e0e0e0;
$color-text-default: rgba(0, 0, 0, 0.87);

$color-bg-primary: #f09; // #ff4081;
$color-text-primary: #fff;

$color-bg-secondary: #3e50bf;
$color-text-secondary: #fff;
